h1 {
    border-bottom: 1px solid white;
}

.main {
    background-color: #525252;
    color: white;
}

.border-main {
    border: 1px solid #525252;
}

.font-main {
    color: #525252;
}

.dark {
    background-color: #414141;
    color: white;
}

.dark-overlay {
    background-color: #4141417F;
    color: white;
}

.font-dark {
    color: #414141;
}

.darker {
    background-color: #313131;
    color: white;
}

.font-darker {
    color: #313131;
}

.border-darker {
    border: 1px solid #313131;
}

.darkest {
    background-color: #1a1a1a;
    color: white;
}

.font-darkest {
    color: #1a1a1a;
}

.border-darkest {
    border: 1px solid #1a1a1a;
}

.highlight {
    background-color: #ca3e47;
    color: white;
}
