h1 {
    border-bottom: 1px solid white;
}

.main {
    background-color: #525252;
    color: white;
}

.dark {
    background-color: #414141;
    color: white;
}

.darker {
    background-color: #313131;
    color: white;
}

.border-darker {
    border: 1px solid #313131;
}

.darkest {
    background-color: #1a1a1a;
    color: white;
}

.border-darkest {
    border: 1px solid #1a1a1a;
}

.highlight {
    background-color: #ca3e47;
    color: white;
}
