<div style="position: absolute; left: 50%; top: 50%; user-select: none">
    @ChildContent
</div>

@code {
    [CascadingParameter] private Map Map { get; set; }
    [Parameter] public RenderFragment ChildContent {get; set;}

    protected override void OnInitialized() {
        Map?.AddLayer(this);
    }
}