<Modal @ref=modal Title="Are You Sure?">
    <p class="w3-center">
        Are you sure you want to perform this action?
    </p>
    <div class="w3-row">
        <div class="w3-col s6">
            <button class="w3-button w3-red" @onclick=Close>Cancel</button>
        </div>
        <div class="w3-col s6 w3-right-align">
            <button class="w3-button w3-green" @onclick=confirmed>Ok</button>
        </div>
    </div>
</Modal>

@code {
    private Modal modal;

    private Action onConfirm;
    public void RequestConfirmation(Action action) {
        onConfirm = action;
        modal?.Open();
    }

    private void confirmed() {
        onConfirm?.Invoke();
        Close();
    }
    public void Close() {
        modal?.Close();
    }
}