@using System.Linq;
@inject AppData Data;

<Modal @ref=modal Title="New Campaign">
    <TextInput Label="Campaign Name" @ref=campaignName></TextInput>

    <div class="w3-margin-bottom">
        <label>RPG System</label>
        <DropdownSelect Items=systems Context=system @ref=system OnChange=StateHasChanged>
            <div>
                <img src=@system.IconImage.Url class="w3-left w3-margin-right" width=48/>
                <div style="color: #@system.ThemeColour.ToHexString()">
                    <span class="w3-large">@system.Name</span><br>
                    <small>@system.Publisher</small>
                </div>
            </div>
        </DropdownSelect>
    </div>

    <div class="w3-padding w3-center">
        <button class="@conditionCss w3-button" @onclick=create>Create</button>
    </div>
</Modal>

@code {
    [Parameter] public Action OnCreate {get; set;}
    private Modal modal;
    private DropdownSelect<RpgSystem> system;
    private TextInput campaignName = null;
    public Campaign GeneratedCampaign => new Campaign {
        Name = campaignName?.Value,
        System = system?.Selected,
        CreatedAt = DateTime.Now,
    };
    private bool hasSystem => system?.Selected != null;
    private string conditionCss => hasSystem && !string.IsNullOrEmpty(campaignName?.Value) ? "w3-green" : "w3-dark-grey";

    public void Open() {
        modal?.Open();
        StateHasChanged();
    }

    private void create() {
        if (system?.Selected == null || string.IsNullOrEmpty(campaignName?.Value))
            return;

        var campaign = GeneratedCampaign;
        if (Data.Campaigns == null)
            Data.Campaigns = new List<Campaign>();
        Data.Campaigns.Add(campaign);
        modal?.Close();
        OnCreate?.Invoke();
    }   

    private static List<RpgSystem> systems = null;

    protected override void OnInitialized() {
        if (systems == null) {
            systems = RpgSystem.FindRpgSystems()
            .OrderBy(game => game.Name)
            .Concat(new List<RpgSystem> {
                // These 2 are always at the bottom 
                new RpgSystem {
                    Name = "Other D6",
                    Publisher = "Many",
                    ThemeColour = new RGB(255, 255, 255),
                    Description = "",
                    WebLink = "",
                    IconImage = Image.FromUrl("logos/genericd6.svg"),
                },
                new RpgSystem {
                    Name = "Other D20",
                    Publisher = "Many",
                    ThemeColour = new RGB(255, 255, 255),
                    Description = "",
                    WebLink = "",
                    IconImage = Image.FromUrl("logos/generic.svg"),
                },
            }).ToList();
        }
    }
}